/* GLOBAL */

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik";
}

:root {
  --bg-col: #10172F;
  --main: #16213F;
  --accent-blue: #D4DBEE;
  --text-main: #F7F8F8;
  --btn-accent: #6695FF;

  --random1: url(https://source.unsplash.com/random/?portrait,profile,1);
  --random2: url(https://source.unsplash.com/random/?portrait,profile,2);
  --random3: url(https://source.unsplash.com/random/?portrait,profile,3);

}

body {
  background-color: var(--bg-col);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

/* TYPOGRAPHY */

h3, h4, p, button {
  color: var(--text-main);
}

button:hover {
  color: #F7F8F8;
}

.muted {
  opacity: 0.7;
}

/* MAIN */

.mode {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

svg {
  transition: 500ms ease-in-out;
}

.mode:hover > svg {
  rotate: 270deg;
}

.hidden {
  display: none;
}

.card {
  width: 300px;
  height: 350px;
  background: var(--main);
  border-radius: 5px;
  padding: 1.5em 2em;
  position: relative;
  scale: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: scale 600ms ease-in-out;
}

.active {
  scale: 1;
}

.card::before {
  content: '';
  position: absolute;
  bottom: -20px;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-top-color: var(--main);

}

.card--pfp {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px
}

.card--top {
  width: 100%;
  padding: 2.5em 0 0.5em;
  border-bottom: 2px solid var(--bg-col);
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding-block: 1.5em;
}

.card--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  padding-block: 1em
}

.similarFollowers {
  display: flex;
}

.follower {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px solid var(--main);
  margin: 0 -0.5em;
  transition: 300ms ease-in-out;
  position: relative;
}

.follower:hover {
  transform: translateY(-10px);
}

.f1 {
  background-image: var(--random1);
}

.f2 {
  background-image: var(--random2);
}

.f3 {
  background-image: var(--random3);
}

.cardToggler {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0 3em;

  cursor: pointer;
}

.toggler--pfp,
.card--pfp {
  background: center / cover no-repeat url(https://plus.unsplash.com/premium_photo-1661892088256-0a17130b3d0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80);
  border-radius: 100%;
}

.toggler--pfp {
  width: 60px;
  height: 60px;
}

/* BUTTONS */

button {
  cursor: pointer;
  transition: 300ms;
}

.follow {
  background: var(--main);
  padding: 0.5em 2.5em;
  border: 2px solid var(--btn-accent);
  border-radius: 50px;
}

.follow:hover {
  background: var(--btn-accent);
}