*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Rubik";
}

:root {
  --bg-1: #D1C9FA;
  --bg-2: #e6f5fb;
  --accent-1: #8AD8EF;
  --accent-2: #D9EB85;
  --card-main: #FFFFFF;
  --text: #B2B2B2;
  --muted: #F4FBFD;
}

body {
  background: linear-gradient(
    to top right,
    var(--bg-1),
    var(--bg-2) 75%,
    var(--bg-1)
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3, h4 {
  color: var(--accent-1)
}

p {
  color: var(--text);
}

.wrapper {
  height: 80%;
  width: clamp(300px, 70%, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  position: relative;
}

.actions {
  align-self: end;
  display: flex;
  gap: 1em;
}

.card.hidden {
  max-height: 0;
  opacity: 0;
  position: absolute;
}

.card {
  width: 100%;
  min-height: 270px;
  max-height: 1000px;
  opacity: 1;
  background: var(--card-main);
  border-radius: 5px;
  box-shadow: 0 0 1em 0 var(--accent-1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.card--indicator {
  content: '';
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: var(--muted);
  top: 100px;
  transition: right 400ms ease-in-out;
}

.card--indicator[data-indicate = "notifications"] {
  right: 17px;
}

.card--indicator[data-indicate = "messages"] {
  right: 98px;
}

.card--header {
  text-align: center;
  background: var(--muted);
  border-radius: 5px 5px 0 0;
}

.card--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.card--main-row {
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  flex-grow: 1;
}

.card--main-row:last-of-type {
  border-radius: 0 0 5px 5px;
}

.card--main-row:hover {
  background-color: var(--bg-2);
}

.card--main-row > div {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* BUTTONS */

button {
  cursor: pointer;
  transition: 300ms;
}

.messages, .notifications {
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

button[data-active="false"] {
  background-color: var(--muted);
}

button[data-active="false"] #message--icon,
button[data-active="false"] #notification--icon > path {
  fill: var(--accent-1);
}

button[data-active="true"] #message--icon,
button[data-active="true"] #notification--icon > path {
  fill: var(--card-main);
}

button[data-active="true"] {
  background-color: var(--accent-1);
}

.notification--count {
  position: absolute;
  background: var(--card-main);
  color: var(--accent-2);
  font-weight: bold;
  width: 35px;
  height: 20px;
  border-radius: 10px;
  right: -15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.amount {
  background: none;
  border: 2px solid var(--accent-2);
  padding: 0.25em 1em;
  border-radius: 10px;
  cursor: auto
}