*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --bg-col: #057287;
    --card-main: #208FA3;
    --accent-one: #F63A76;
    --text-dark: #7C7C7C;
    --text-light: #FDFBFB;
}

body {
    background-color: var(--bg-col);
    color: var(--text-light);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Rubik";
}

h2 {
    font-weight: 300;
    text-align: center;
    font-size: 15pt;
    opacity: 0.8;
}

p {
    font-size: 10pt;
}

h3 {
    font-weight: 300;
}

.muted {
    font-size: 10pt;
    opacity: 0.7;
    font-weight: 100;
}

.card {
    width: 350px;
    height: 500px;
    background-color: var(--card-main);
    position: relative;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 2em -0.3em black;
}


.card--header {
    text-align: center;
    padding: 0.75em 0;
}

.card--main {
    flex-grow: 1
}

.card--main > .hidden {
    opacity: 0;
    max-height: 0px;
    height: 0;
}

.card--main-home {
    max-height: 1000px;
    height: 100%;
    opacity: 1;
    transition: 500ms;
    position: relative;
}

.card--main-tracker {
    max-height: 1000px;
    opacity: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 500ms;
}

.tracker--display {
    background-color: var(--text-light);
    color: var(--text-dark);
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    box-shadow: 0 0.5em 1em -0.5em black;
}

.circleProgress {
    position: relative;
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: var(--text-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circleProgress--border {
    position: relative;
    width: 120px;
    height: 120px;
    background: linear-gradient(270deg, var(--accent-one) 50%, transparent 50%), linear-gradient(400deg, var(--accent-one) 50%, var(--text-light) 50%);
    border-radius: 100%;
}

.number {
    font-size: 30pt;
    font-weight: 100;
}

.unit {
    font-size: 14pt;
    line-height: 60%;
}

.tracker--display-otherInfo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.otherInfo-stat {
    font-size: 18pt;
}

.tracker--latest {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    padding: 1em;
}

.activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5em;
}

.card--footer {
    background-color: var(--text-light);
    color: var(--bg-col);

    position: relative;
    bottom: 0;

    padding: 0.5em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.go {
    font-family: "Rubik";
    font-size: 16pt;
    font-weight: 500;
    padding: 0.4em 1.5em;
    border-radius: 50px;
    border: none;
    background-color: var(--accent-one);
    color: var(--text-light);
    box-shadow: 0 0 0.8em -0.1em var(--accent-one);
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.go:hover {
    padding: 0.4em 2em;
}

.card--footer > svg {
    cursor: pointer;
    transition: 300ms;
}

.card--footer > svg:hover {
    scale: 1.2
}