*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg: #EFF1F7;
  --card: #FFFFFF;
  --myrtie: #9C4D15;
  --blanche: grey;
  --accent: #758DFF;
}

body {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
  min-height: 100vh;
  padding-block: 2em;
}

.card {
  background-color: var(--card);
  width: 225px;
  height: 250px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  transition: 200ms;
}

.card.card__active {
  scale: 1.1;
  box-shadow: 0 0.2em 1em -0.4em var(--accent)
}

.card__pfp {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  box-shadow: 0 0.5em 0.5em -0.3em;
}

.card__action {
  cursor: pointer;
  transition: 200ms;
  background: none;
  border: 1.5px solid;
  border-radius: 3px;
  padding: 0.5em 2em;
  opacity: 0.5;
  font-weight: bold;
}

.card__action:hover {
  border-color: var(--accent);
  background-color: var(--accent);
  color: white;
  opacity: 1;
}

@media screen and (min-width: 700px) {
  body {
    flex-direction: row;
  }
}