*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    color: rgba(255, 255, 255, 0.822);
}

:root {
    --background-one: #1B1437;
    --background-two: #32215c;
    --card--main: #503197;
    --light-accent: #7A67AA;
    --muted-accent: #51427a;
}

h3, h4 {
    font-size: 11pt;
}

body {
    background: radial-gradient(var(--background-two),
                                 var(--background-one));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.card {
    width: 300px;
    background: linear-gradient(to top right,
                                var(--background-one),
                                var(--card--main));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 1em -0.35em black;
}

.card--navbar {
    padding: 0.5em 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--background-one);
    text-transform: uppercase;
}

.card--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
}

.card--main-channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
    
}

.channel--num {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--light-accent);
    border-radius: 100%;
    background-color: var(--muted-accent);
    font-size: 24pt;
}

.card--main-song {
    text-align: center;
}

.card--channel-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--background-one);
    padding: 1em
}

.channel--selector-lines {
    letter-spacing: 0.75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel--selector-lines * {
    color: var(--muted-accent)
}

.channel--selector-lines > span {
    font-size: 16pt;
    font-weight: 100;
}

.channel--progress-bar {
    height: 0;
    width: 100%;
    border-top: 0.5px solid;
    margin: 0.5em 0;
    display: flex;
    position: relative;
}

.progress--bar-button {
    position: absolute;
    top: -7px;
    left: 99px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: none;
}

.progress--bar-button:before {
    content: " ";
    width: 1.5px;
    height: 35px;
    background-color: rgb(146, 0, 0);
    position: absolute;
    top: -35px;
    left: calc(50% - 0.8px);
}

.channel--channels {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.channel--channels > li {
    font-size: 10pt;
}


.card--saved {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background-color: var(--background-one);
    margin-top: 0.75em;
    gap: 1em
}

.card--saved > h4 {
    padding-left: 1em;
    padding-top: 0.25em;
}

.saved--stations {
    display: inline;
    white-space: nowrap;
    overflow-x: scroll;
}

.saved--stations::-webkit-scrollbar {
    display: none;
}

.saved--station {
    display: inline-block;
    width: 125px;
    height: 100px;
    background-color: var(--background-two);
    margin-right: 0.25em
}

.centered--text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered--text > h3 {
    font-size: 14pt;
}
