*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background-col: #042544;
    --accent-one: #008BD4;
    --card-one: #F9FCFF;
    --card-two: #B8DFF3;
    --font-dark: #28404B;
}

body {
    background-color: var(--background-col);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    color: var(--font-dark);
}

h4 {
    font-size: 10pt;
    font-weight: 500;
}

p {
    font-size: 8pt;
    padding-bottom: 0.25em;
    font-weight: 500;
}

.card {
    width: 290px;
    height: 500px;
    background: linear-gradient(
                    to top,
                    var(--card-two), 
                    var(--card-one));
}

.card--header {
    margin: 1.5em 1em 0 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--card-two)
}

.card--main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card--main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 2em 0em 2em;
}

.card--main-title > h4 {
    color: var(--accent-one);
}

.rating {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--card-two);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--main-pics {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 135px;
}

.bg-img {
    filter: opacity(0.5);
    z-index: 0;
    width: 200px;
}

.main-img {
    position: absolute;
    width: calc(100% - 4em);
    z-index: 1;
    box-shadow: 0em 1em 1em 0em var(--card-two);
    transition: 300ms;
}

.main-img:hover {
    transform: scale(1.1);
}

.card--main-desc {
    padding: 0em 2em;
}

.buy {
    margin: 1.5em 2.25em 0 2.25em;
    padding: 1em;
    border: none;
    background-color: var(--accent-one);
    color: var(--card-one);
    cursor: pointer;
    transition: 300ms;
}

svg {
    transition: 300ms;
}

svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.buy:hover {
    transform: translateY(-2px);
    box-shadow: 0 1em 1em -0.5em black;
}